
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.header{
    display: flex;
    border: 1px solid gray;
    height: 15vh;
    align-items: center;
    background-color: #7533FA;
}

.title{
    flex: 85%;
    margin-left: 5%;
    font-family: "Poppins", serif;
    color: white;
}

.buttonHead{
    flex: 10%;
    display: flex;
    align-items: center;
}

.buttonHead button{
    font-size: 30px;
    background: none;
    border: none;
    color: white;
}

.Categorias{
    position: fixed;
    background: rgb(32, 32, 32);
    height: 100vh;
    top: 0;
    left: 0;

}

.Link{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 14px 16px;
    font-family: "Poppins", serif;
}

.Links{
    display: flex;
    flex-direction: column;
    max-width: 200px;
    margin-top: 50px;
}

.buttonClose{
    border: 1px solid gray;
}

.buttonClose button{
    position: relative;
    float: right;
    margin: 10px;
    background: none;
    border: none;
    color: white;
}