.Receita4{
    display: flex;
    margin: 30px;
   flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgR4{
    width: 300px;
}

.imgRe4 h1{

text-align: center;
margin: 10px;

}

.imgRe4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Receita4 h2{
    margin-top: 20px;
}

